/* index.css atau file CSS terkait */
.site-layout-background {
  background: #f4f4f4; /* Background sidebar yang lebih cerah */
}

.sidebar-header h2 {
  font-size: 20px;
  color: #fff;
  margin: 0;
}

.ant-menu-inline .ant-menu-item {
  font-weight: normal;
}

.ant-menu-item-selected {
  background-color: #1890ff !important;
  color: #fff !important;
}

.ant-avatar {
  margin-right: 8px;
}

.ant-menu-item {
  padding: 10px 20px;
}

/* Styling untuk Help & Support menu */
.ant-menu-item.ant-menu-item-selected {
  background-color: #1890ff !important;
  color: #fff !important;
}
